<h1><%= @customer.name %></h1>
<%= content_tag :div, id: "items" do %>
  <h2><%= "Items:" %></h2>
  <% @customer.items.each do |item| %>
  <p>Name: <%= item.name %></p>
  <p>Price: <%= item.price %></p>
  <p>Available at: <%= item.supermarket.name %></p>
  <% end %>
<% end %>

<%= content_tag :div, id: "add_item" do %>
  <h2>Add new item:</h2>
  <%= form_with url: "customer_items?customer=#{@customer.id}", method: :post, local: true do |f| %>
  <p><%= f.label :item_id, 'Item ID:' %></p>
  <p><%= f.text_field :item_id %></p>
  <p><%= f.submit "Submit" %>
  <% end %>
<% end %>